.Main{
    display: grid;
    grid-template-columns:repeat(3,150px) ;
    grid-template-rows:repeat(3,150px) ;
}
.Mainlight{
        display: grid;
        grid-template-columns: repeat(3,150px);
        grid-template-rows: repeat(3,150px);
        gap: 5px;
        background: black;
}