.Box{
    height: 150px;
    width: 150px;
    background-color: #2D2D2D;
    box-shadow: 0px 0px 0px 5px #222222 inset;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Box:hover {
    background-color: #383838;
}

.Boxtheme {
    height: 150px;
    width: 150px;
    background-color: #fffbfb;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}